.NeatPlayerArea.default{
  background-color: #3D58F2;
  overflow-y: auto;
  color: lightgrey;
  padding-top: 0;
}
.NeatPlayerList{
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.NeatPlayerList li{
  border-bottom: 1px solid black;
  padding-left: 1%;
  display: flex;
}
.NeatPlayerList li:nth-child(even) {
    background-color: #2443F2;
}
.NeatPlayerList li:hover{
  background-color: #7487F2;
}
.NeatPlayerList li.active{
  background-color: #7487F2;
}
.NeatPlayerList li p.title{
  width: 70%;
}
.NeatPlayerList li p.duration{
  width: 20%;
}

.NeatPlayerProgressContainer{
  background-color: red;
}
.NeatPlayerProgressBar{
  width: 0%;
  background-color: blue;
  height: 100%;
}

.NeatPlayerControls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
}
.NeatPlayerControls.default{
  background-color: darkgrey;
}

.NeatPlayer-previous{
  width: 20%;
  height: 100%;
}
.NeatPlayer-previous img{
  cursor: pointer;
}

.NeatPlayer-playpause{
  width: 20%;
  height: 100%;
  text-align: center;
}
.NeatPlayer-playpause img{
  cursor: pointer;
}

.NeatPlayer-next{
  width: 20%;
  height: 100%;
  text-align: right;
}
.NeatPlayer-next img{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}
